<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict whether the news is fake news or real news</title>
</head>
<body>
    <h1>Sentiment Prediction</h1>
    <form action="/predict" method="POST">
        <label for="content">Enter news content to predict whether it is fake news or real news:</label>
        <input type="text" id="content" name="content" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
